.bus{
    width: 30%;
    background-color: red;
    display: flex;
    justify-content: space-around
}

.grupo{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    width: 30%;

}
.asiento{
    background-color: #fff;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
}

